### Importar a biblioteca pandas e os dados

In [2]:
import pandas as pd

dados = pd.read_csv('tracking.csv')
dados.head(10)

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0
5     1             0        1       1
6     1             1        0       0
7     1             0        1       1
8     1             1        0       0
9     1             0        1       1

In [5]:
x = dados[['home','how_it_works','contact']]
y = dados["bought"]
y.head(10)

0    0
1    0
2    0
3    0
4    0
5    1
6    0
7    1
8    0
9    1
Name: bought, dtype: int64

### Renomar o nome das classes

In [14]:
mapa ={
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

### Dividindo os dados de treino e teste(75/25) e medindo sua acur치cia

In [15]:
dados.shape

(99, 4)

In [23]:
#### Dividindo os dados de treino e teste com python "puro"

In [16]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [17]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print('A acur치cia foi de %.2f' % acuracia)

A acur치cia foi de 0.96

### Usando train_test_split da sklearn para dividir os dados

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
import numpy as np

#np.random.seed = 42

# Retirar aleotoriedade
SEED = 42

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y, test_size=0.25,random_state = SEED)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print('A acur치cia foi de %.2f' % (acuracia*100))

Treinaremos com 74 elementos e testaremos com 25 elementos
A acur치cia foi de 96.00

### Dividir os dados de entrada de acordo com as classes

In [90]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
import numpy as np

#np.random.seed = 42

# Retirar aleotoriedade
SEED = 42

treino_x, teste_x, treino_y, teste_y = train_test_split(x,y,
                                                        test_size=0.25,
                                                        random_state = SEED,
                                                        #Manter a propor칞칚o corretamente, de acordo com a sa칤da
                                                        stratify=y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print('A acur치cia foi de %.2f' % (acuracia*100))

Treinaremos com 74 elementos e testaremos com 25 elementos
A acur치cia foi de 96.00